html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Montserrat|Marvel' rel='stylesheet')
		link(rel="stylesheet" href="css/index.css")
		title Scoreboard
	body
		.container.text-center
			p#titles
				span#maintitlewelcome Welcome to
				br
				span#maintitle Scoreboard
		.container#buttonoptions
			a(href="board"): .button.col-centered.text-center: .btncontainer Board
			br
			br
			a(href="remote"): .button.col-centered.text-center: .btncontainer Remote
		.container.text-center
			<p class="footer">Open Source project by <a href='http://rukmal.me'>Rukmal Weerawarana</a> (<a href="http://twitter.com/rukmal_w">@rukmal_w</a>).</p>
			<p class="footer">Modified by <a href='http://github.com/athulcs'>Athul CS</a></p>