html, body {
	background-color: white;
background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23f4f4f4' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23e9e9e9' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23dedede' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23d4d4d4' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23c9c9c9' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23bebebe' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23b3b3b3' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: 'digi';
	src: url('/fonts/digital-7.tff');
}

#mainclock {
	color: black;
	font-family: 'digi', sans-serif;
	font-size: 18em;
	margin-top: em;
	margin-bottom: 0;
}

#maintimercontainer {
/*	border-left: 5px solid black;
	border-right: 5px solid black;*/
	height: 35%;
}

#tournament {
	margin-top: 1em;
}

#bottom {
	height: 25%;
	border-top: 5px solid black;
}

#tournamentlogo {
	height: 85%;
	margin-left: 180px;
	marker-top: 20px;
}

#tournamenttitle {
	font-family: 'Syncopate', sans-serif;
	color: black;
	padding-bottom: 1em;
}

#shotclockcontainer {
	padding-top: -1.5em;
	border-right: 10px solid black;
}

#shotclock {
	color: black;
	font-family: 'Syncopate';
	margin-top: 0;
	font-size: 2.5em;
}

#shotclocktimer {
	color: black;
	font-size: 12em;
	font-family: 'digi', sans-serif;
	margin-bottom: 0;
}

.score {
	color: black;
}

.scorenumber {
	font-family: 'Exo 2', sans-serif;
	font-size: 11em;
}

#teamhome {
	border-right: 5px solid black;
}

#teamaway {
	border-left: 5px solid black;
}

.teamlabel {
	font-family: 'Syncopate', sans-serif;
	font-size: 6em;
}

#scores {
	height: 35%;
	border-bottom: 5px solid black;
}

.vertical-center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}